.cont-top{
    /* width: 100%; */
    /* border: 1px solid red; */
    display: flex;
    align-items:center;
    justify-content: center;
}
.cont-down{
    display: flex;
    align-items:center;
    justify-content: center;
}
.Container{
    position: relative;
    top:50px;
    /* border: 1px solid blue; */
    background-color: #ffffff;
    width: 100%;
    height: 10px;
}
.img1{
   padding: 2px;
}
.img2{
    padding: 0 15px;
 }
 .img3{
    display: none;
 }
.brands{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid saddlebrown; */
}
h2{
    position: relative;
    top: 10px;
    color: rgb(59, 57, 57);
    font-size: 36px;
    font-family: Sansita One;
}
 @media(max-width: 700px) {
    .cont-top{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .cont-down{
       
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .img3{
        display:initial;
     }
    .Container{
        padding:30px 0px ;
        /* margin-top: 50px; */
    }
     
     .brands{
        padding: 5px;
     }
     h2{
        margin-bottom: 20px;
     }

 }