.Service-Container {
    background-color: #FFCB9A;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 0px;
}
.Cont-top{
    /* border: 1px solid green; */
    height: 80%;
    width: 100%;
}

.pratima-box {
    width: 100%;
  
    padding: 10px;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.Aims-box {
    /* border: 1px solid rgb(109, 47, 47); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.Box1 {
    margin-top: 10px;
    /* border: 1px solid green; */
    width: 200px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 20px 50px rgb(184, 184, 184);
}
.para{
    color: black;
    font-size:16px;
    font-weight: bolder;
}
.icon{
  background-color: aquamarine;
  background-color: red; 
  background-image: linear-gradient(#DBA081, #E94041);
  padding: 8px;
  border-radius: 10px;
}
h2{
    color: #3C4EA2;
    margin-left: 30px;
}
.Service-Container h1{
    font-size:40px;
    font-weight: bolder;
}
.Box1:hover{
    background-color:gray ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




@media(max-width: 700px) {
    .pratima-box{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Aims-box{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Service-Container{
        height: 310vh;
    }
}